@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --purple:#8e44ad;
   --red:#c0392b;
   --orange:#f39c12;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition:all .2s linear;
}
html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   background-color: var(--light-bg);
}

section{
   padding:3rem 2rem;
}



.home img
{

   max-width: 102%;
   min-height: 45%;
  position: absolute; 
    z-index: 1;
    bottom: 280px;
    right: -8px;
  /* opacity:  0; */
}

.home
{

   min-height: 45vh;
  
}



/* =========================================================================================================== */

.products .khungbieumau{
   max-width: 1200px;
   margin:0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   align-items: flex-start;
   gap:1.5rem;
   justify-content: center;
}

.products .khungbieumau .hop{
   border-radius: 1rem;
   background-color: var(--white);
   width: 30rem;
   box-shadow: var(--box-shadow);
   padding:2rem;
   text-align: center;
   border:var(--border);
   position: relative;
}

.products .khungbieumau .hop .image{
   height: 30rem;
}

.products .khungbieumau .hop .name{
   padding:1rem 0;
   font-size: 2rem;
   color:var(--black);
}

.products .khungbieumau .hop .qty{
   width: 100%;
   padding:1.2rem 1.4rem;
   border-radius: .5rem;
   border:var(--border);
   margin:1rem 0;
   font-size: 2rem;
}

.products .khungbieumau .hop .price{
  /*  position: absolute; */
   
   border-radius: .5rem;
   padding:1rem;
   font-size: 2.5rem;
   color:#EE4000;
   
}





/* ================================================================================================================== */
/* .contact form{
   margin:0 auto;
   background-color: var(--light-bg);
   border-radius: .5rem;
   border:var(--border);
   padding:2rem;
   max-width: 50rem;
   margin:0 auto;
   text-align: center;
}

.contact form h3{
   font-size: 2.5rem;
   text-transform: uppercase;
   margin-bottom: 1rem;
   color:var(--black);
}

.contact form .hop{
   margin:1rem 0;
   width: 100%;
   border:var(--border);
   background-color: var(--white);
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
}

.contact form textarea{
   height: 20rem;
   resize: none;
} */

/* ================================================================================================================== */
/* .heading{
   min-height: 80vh;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   gap:1rem;
  
   background: url('0_1331544 (1).png') no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;
}


.heading h3{
   margin-top: 10px;
    text-align: center;
   font-size: 5rem;
   color:var(--white);
   text-transform: uppercase;
}

.heading p{
    text-align: center;
   font-size: 2.5rem;
   color:#FFFFFF;
}

.heading p a{
   color:#99FFFF;
} */

